#hero-wrapper{
    position: relative;
    display: flex;
    height: fit-content;
    justify-content: center;
}

#hero{
    display: flex;
    flex-direction: row;
    /* align-items: start; */
    justify-content: space-around;
    position: relative;
    height: 520px;
    width: 88%;
    border-radius: 38px;
    background-color: #4800BD;

    #hero-text{
        position: relative;
        height: fit-content;
        width: fit-content;
        /* top: 3.5rem; */
    }

    #hero-image{
        position: relative;
        /* width: 40%; */
        /* bottom: 4rem; */
    }
    #hero-text{
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        h1, h3{
            position: relative;
            color: white !important;
            margin: 0;
        }
        h1{
            margin-left: 2rem;  
            /* margin-bottom: 3.5rem; */
            font-size: 76px !important;
            font-weight: 900 !important;
        }
        h3{
            margin-left: 2.8rem;
            font-size: 32px !important;
            font-weight: 400 !important;
        }
        .hero-theme-span{
            margin: 0;
        }
        &:first-child{
            margin-top: 2rem;
        }
    }
}

.enroll-button{
    margin-bottom: 3.5rem;
    margin-left: 2.8rem;
    border-radius: 24px;
    height: 60px;
    width: 238px;
    background-color: white;
    &:active{
        background-color: aliceblue;
    }
}

.purple-button{
    background-color: #4800BD;
    color: white !important;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    & #accreditation{
        margin: 1rem 0;
        display: flex;
        flex-direction: row;
        width: 66%;
        & p{
            font-size: 28px !important;
            font-weight: 400 !important;
            color: black !important;
        }
    }
    & #slogan{
        font-size: 36px !important;
        font-weight: 900 !important;
        width: 75%;
        margin: 0;
    }
    #sales-pitch, #sales-pitch * {
        width: 85%;
        margin: 2rem 0;
        font-size: 24px !important;
        font-weight: 400 !important;
        color: black !important;
        ul{
            padding-inline-start: 120px;
            width: 100%;
        }
    }
}