#hero-wrapper {
  max-width: 87%;
  margin: auto;
}

#hero {
  display: flex;
  align-items: start;
  border-radius: 38px;
  background-color: #4800bd;
  padding: 50px;
}

#hero-text {
  flex: 1;
}

.hero-image {
  max-width: 40%;
  height: auto;
  object-fit: contain;
}

#hero-text h1,
#hero-text h3 {
  color: white;
  margin: 0;
}

#hero-text h1 {
  font-size: 4rem;
  font-weight: 900;
  line-height: 120%;
  padding: 30px 0 30px 0;
}

#hero-text h3 {
  font-size: 32px;
  font-weight: 400;
  line-height: 140%;
}

.hero-theme-span {
  color: white;
  font-weight: 600;
  font-size: 32px;
}

@media (max-width: 1024px) {
  #hero-wrapper {
    max-width: 85%;
  }

  #hero-image {
    width: 40%;
    margin-top: 20px;
  }

  #hero-text h1 {
    font-size: 4rem;
  }

  #hero-text h3 {
    font-size: 24px;
  }

  .hero-theme-span {
    font-size: 24px;
  }
}
.enroll-button {
  border-radius: 20px;
  padding: 20px 60px;
  background-color: white;
  cursor: pointer;
  border: none;
  margin-top: 40px;
}

.purple-button {
  background-color: #4800bd;
  color: white;
  margin-bottom: 3rem;
}

.purple-button a {
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  & #accreditation {
    justify-content: center;
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    width: 66%;

    & p {
      font-size: 28px;
      font-weight: 400;
      color: black;
    }
  }
  & #slogan {
    font-size: 36px;
    font-weight: 900;
    width: 75%;
    margin: 0;
  }
  #sales-pitch,
  #sales-pitch * {
    width: 85%;
    margin: 1.5rem 0;
    font-size: 24px;
    font-weight: 400;
    color: black;
    ul {
      padding-inline-start: 120px;
      width: 90%;
      li {
        width: 100%;
      }
      & :last-child {
        margin-bottom: 0;
      }
    }
  }
  #sales-pitch {
    /* justify-content: center; */
    margin-bottom: 0;
  }
  #summary {
    display: flex;
    background-color: #ff8deb12;
    flex-direction: column;
    align-items: center;
    width: 100%;
    list-style-position: inside;
    text-align: center;
    line-height: 180%;
    h4 {
      font-size: 24px;
      font-weight: 800;
      color: black;
      margin-bottom: 0;
    }
    ul li {
      color: black;
    }
  }
  #finishing-statement {
    color: #c11b8f;
    text-align: center;
    font-size: 24px;
    width: 85%;
  }
}

@media (max-width: 760px) {
  body {
    gap: 2rem;
  }
  #hero-wrapper {
    max-width: 100%;
    text-align: center;
  }
  #hero {
    width: 95vw;
    padding: 20px;
    text-align: center;
    border-radius: 0;

    #hero-image {
      display: none;
    }
    #hero-text {
      h1 {
        font-size: 40px;
        padding-top: 15px;
      }
      h3 {
        font-size: 20px;
      }

      .enroll-button {
        margin-top: 40px;
        margin-left: 0;
      }
    }
  }
  main {
    #accreditation {
      display: none;
    }
    #slogan {
      font-size: 20px;
      font-weight: 800;
      text-align: center;
      margin-top: 0.7rem;
    }
    #sales-pitch {
      font-size: 16px;
      margin-top: 2.2rem;
    }
    #sales-pitch,
    #sales-pitch * {
      font-size: 16px;
      font-weight: 400;
      color: black;
      ul {
        padding-inline-start: 40px;
        width: 80%;
      }
    }
    #summary {
      h4 {
        margin-top: 1rem;
      }
      ul {
        width: 80%;
        padding: 0;
        li {
          font-size: 15px;
          font-weight: 400;
        }
      }
    }
    #finishing-statement {
      font-size: 16px;
      padding: 2rem 0;
      margin-bottom: 0;
    }
  }
  /* footer{
        display: none;
    } */
}

@media (max-width: 380px) {
  #hero {
    #hero-text {
      button {
        margin-left: 3.5rem;
      }
    }
  }
}
