/* main {
    position: relative;
    display: flex;
    gap: 100px;
    top: -130px;
} */

.wrapper{
    /* position: relative; */
    #blogs{
        max-width: 610px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    #blog {
        flex: 1 1 200px;
    }
    
    .blog{
        height: 300px;
        width: 300px;
    }
}