/* main {
    position: relative;
    display: flex;
    gap: 100px;
    top: -130px;
} */

.wrapper{
    /* position: relative; */
    #blogs{
        max-width: 820px;
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        margin-bottom: 40px;
    }
    /* #blog {
        flex: 1 1 200px;
    } */
    
    .blog{
        /* height: 300px; */
        width: 375px;
    }
}

@media (max-width: 1198px) {
    .wrapper{
        #blogs {
            max-width: 400px;
        }
    }
}