:root{
    --dark-grey-color: #2F2F2F;
    --light-grey-color: #808080;
}

main{
    display: flex;
    justify-content: center;
    /* width: 88% */
}

.blog-title{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center; 
    color: black;
}

.blog-topic{
    margin-top: 2.5rem;
}

ol { 
    list-style-type: decimal-leading-zero;
    color: var(--dark-grey-color);
    margin: 3.5rem;
}

ol li {
    counter-increment: list;
    list-style-type: none;
    position: relative;
    color: var(--light-grey-color);
    font-weight: 400;
    font-family: "Mulish", sans-serif;
    /* white-space: pre-wrap; */
    padding-left: 0.4rem;
    margin: 1rem 0;
    &:first-child{
        margin-top: 1rem;
    }
    &:last-child{
       margin-bottom: 1rem;
    }
  }

ol li:before {
    color: var(--dark-grey-color);
    content: '0' counter(list) ".";
    left: -32px;
    position: absolute;
    text-align: right;
    font-weight: 700;
    font-size: 15px;
    width: 26px;
  }

/* li {
    

} */

h1{
    font-family: "Mulish", sans-serif;
    font-size: 38px;
    font-weight: 800;
    color: black;
    margin-bottom: 2rem;
    #author-name{
        font-weight: 700;
    }
    #publish-date, #time-to-read{
        font-weight: 600;
    }
    #author-name, #publish-date, #time-to-read{
        position: relative;
        font-size: 13px;
        color: black;
        text-align: center;
    }
    strong{
        line-height: 2px;
    }
}

p, li{
    font-size: 15px;
}

.dark-grey-color{
    color: var(--dark-grey-color);
    font-weight: 800;
    font-size: 24px;
    font-family: "Mulish", sans-serif;
}

.light-grey-color, p{
    color: var(--light-grey-color);
    font-weight: 400;
    font-family: "Mulish", sans-serif;
}

.blog-img{
    margin: auto;
    width: 100%;
    border-radius: 12.5px;
}

main{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.wrapper{
    width: 80%;
}

#categories-aside{
    margin-bottom: 2.5rem;
}

.main-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#example-blog{
    position: relative;
    max-width: 860px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 40px;
    /* .wrapper{
        width: 80%;
    } */
}

#tags-wrapper{
    border-top: 0.74px solid #DCDCDC;
    border-bottom: 0.74px solid #DCDCDC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

#tags{
    display: flex;
    .tag{
        display: flex;
        align-items: center;
        background-color: #F6F6F6;
        border-radius: 18px;
        padding: 0.7rem 1.5rem;
        margin: 1.2rem 0;
        p{
            font-weight: 600;
            font-size: 13px;
            font-family: "Mulish", sans-serif;
            text-align: center;
            color: var(--dark-grey-color);
            margin: 0;
            padding: 0  ;
        }
    }
}

  

@media (max-width: 1198px) {
    .wrapper{
        #blogs {
            max-width: 400px;
        }
    }
}

@media (max-width: 760px) {
    h1{
        margin-bottom: 4.5rem;
    }

    .blog-img{
        position: relative;
        width: 95%;
        bottom: 20px;
    }

    ol {
        margin: 2rem 1.4rem;
        li {
            padding-left: 0.2rem;
        }
    }

    #page-nav-wrapper{
        display: flex;
        opacity: 1;
        margin: 1.5rem;
        gap: 10px;
        left: 22.5%;
        .page-nav{
            height: 30px;
            width: 30px;
            border-radius: 2px;
            line-height: 25px;
        }
    }
}